<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>thoughts.</title>
</head>
<body>
    <h1>what people are thinking?</h1>
    <ul class="posts">
    <% for(let i=0; i < info.length; i++) {%>
        <li class="post">
            <section><%= info[i].thought %></section>
            <section><%= info[i].signoff %></section>
            <section><%= info[i].likes %></section>
            <span>yay</span>
            <span>nay</span>
        </li>
    <%} %>
    </ul>

    <h2>think a thought</h2>
    <form action="/addEntry" method="POST">
        <input type="text" placeholder="" name="thought">
        <input type="text" placeholder="-" name="signoff">
        <input type="submit">
    </form>

    <script type="text/javascript" src="../public/js/main.js"></script>
</body>
</html>